    <div class="modal askHepl fade " id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel">
	    <div class="modal-dialog " role="document">
		    <div class="modal-content" style="background-image:url(images/help.jpg); background-size: cover;">
			    <div class="modal-header">
				     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span></button>
				    <h4 class="modal-title" id="myModalLabel">Who do you want to ask for help?</h4>
			    </div>
		        <div class="modal-body ask" >
			         <div class="list dropdown Help">
				        <h2>Players</h2>
				        <ul id="playersDropDown"></ul>
				        <p class="choosePlayer">I choose: <span id="namePlayer"></span>
				        <p class="giveCard">For <input size="2" id="numberCards"></input> treasures.</p>
			         </div>
			    </div>
		        <div class="modal-footer">
				    <button type="button" id="askHelp">Ask</button>
			    </div>
		    </div>
	    </div>
    </div>