<div class="modal bagsCard fade bx-example-modal-lg" id="myModal" tabindex="-1"  role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-image:url(images/2.jpg); background-size: cover;">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Cards</h4>
      </div>
      <div class="modal-body">
		      <div id="cardsBag"></div>
      </div>
    </div>
  </div>
</div>