<div class="modal fade chooseEquipment" data-equip="{{cardToEquip}}">
  <div class="modal-dialog">
    <div class="modal-content" style="background-image:url(images/curseWindow1.png); background-size: cover;">
      <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel">{{title}}</h2>
      </div>
      <div class="modal-body">
            <p>{{msg}}</p>
            <div id="equipment">
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="agree" id="{{okChooseEquipment}}" data-dismiss="modal">OK</button>
        <button type="button" class="disagree" id="{{cancelChooseEquipment}}" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>