<div class="modal fade chooseBadStuff">
    <div class="modal-dialog">
        <div class="modal-content" style="background-image:url(images/warning!.png); background-size: cover;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span>
                </button>
                <h2 class="modal-title" id="myModalLabel">Monster gives you a choice:</h2>
            </div>
            <div class="modal-body">
                <div class="chooseBSWrapper">
                    <p id="msg1BS">{{msg1}}</p>
                    <button type="button" class="agree BSagree" id="chooseFirstBS" data-cardName="{{cardName}}"
                    data-playerID="{{playerID}}" data-dismiss="modal">OK</button>
                </div>
                <div class="chooseBSWrapper">
                    <p id="msg2BS">{{msg2}}</p>
                    <button type="button" class="agree BSagree" id="chooseSecondBS" data-cardName="{{cardName}}"
                    data-playerID="{{playerID}}" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>