<div class="modal fade confirm" >
    <div class="modal-dialog ">
        <div class="modal-content" style="background-image:url(images/Look!.png); background-size: cover;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span>
                </button>
                <h2 class="modal-title" id="myModalLabel">{{title}}</h2>
            </div>
            <div class="modal-body">
                <p>{{msg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="agree" id="{{okID}}" data-dismiss="modal">OK</button>
                <button type="button" class="disagree"id="{{cancelID}}" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>