<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"  ria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-image:url(images/curseWindow1.png); background-size:cover;">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body modalBody">
		<div id="playerCurses"></div>
      </div>
    </div>
  </div>
</div>