<div class="discard_treasure"
{{#if treasureName}}
    style="background-image: url(cards/ready/treasures/{{treasureName}}.png"
{{else}}
    style="background-color: #fff; opacity:0.2;border-radius: 8px;"
{{/if}}
></div>
<div class="treasure"></div>
<div class="door"></div>
<div class="discard_door"
{{#if doorName}}
    style="background-image: url(cards/ready/doors/{{doorName}}.png"
{{else}}
    style="background-color: #fff; opacity:0.2;border-radius: 8px;"
{{/if}}
></div>