<div class="modal fade lftroubles" data-backdrop="static" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-image:url(images/choose.png); background-size: cover;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">It's LF Trouble phase. Loot the door or choose monter to fight</h4>
            </div>
            <div class="modal-body">
                {{#if hasMonster}}
                    <div class="chooseDoorCard">
                        <p>
                            <input type="radio" name="chooseLF" checked="true" class="radioLFTraoubles" id="door">Get door card from deck.
                        </p>
                    </div>
                    <div class="choosePlayMonster">
                        <p>
                            <input type="radio" name="chooseLF" class="radioLFTraoubles" id="fight">Play monster.
                        </p>
                    </div>
                    <div id="monsters"></div>
                    <button type="button" class="agree submitLFTroubles" id data-dismiss="modal">Confirm</button>

                {{else}}
                    <p>
                        You have no monster card in hand so you can only get door card from deck.
                    </p>
                    <div>
                        <button type="button" class="agree drawDoorCard" id data-dismiss="modal">Confirm</button>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>