<div class="modal loseAgame fade bx-example-modal-lg" id="myModalTrade"  tabindex="-1" data-backdrop="static" data-keyboard="false"  role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content loseGame" style="background-image:url(images/lose.png); background-size: cover;">
    <div class="modal-body" >
      <p class="congratilation">You lost a game, but don't give up!</p>
    </div>
    </div>
  </div>
</div
