<div>
    <div class="disabled">
        <div class="user" style="background-image:url(cards/ready/heroes/{{info.hero}}{{info.gender}}.png);" >
            <span class="playerInfo"></span>
            <span class="help"></span>
            <div class="mainPlayerInfo">
                {{info.name}} <br />
                <span class="level">lv:{{info.lvl}}</span> <br/>
                <span id="oldSelfPower" class="power">P:{{info.power}} </span>
                <span class="index">{{index}}</span>
            </div>
        </div>
    </div>
    <div>
        <span class="isReady" id="userReady"></span>
    </div>
</div>

