{{#if isHost}}
<span id="oldMobPower">Monster Power {{power}} </span>
<span id="changeMobPower">
    <input type="text"  value="{{power}}" id="newMobPowerVal">
    <button type="button" id="setMobPower">OK</button>
</span>
<span class="runA"></span>
{{else}}
<span id="staticMobPower"> Monster Power {{power}} </span>
<span class="runA"></span>
{{/if}}
