<div class="modal curseNames fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	 <h4 class="modal-title" id="gridSystemModalLabel">{{title}}</h4>
    	<div id="cursesCard"></div>
    </div>
  </div>
</div>