<div class="userContainer">
    <div class="disabled">
        <div class="character drop-curse drop-lvlUP " id="player{{index}}" data-index={{index}} style="background-image:url(cards/ready/heroes/{{info.hero}}{{info.gender}}.png);">
            <span class="otherInfo" data-index={{index}}></span>
            <span class="curses"></span>
            <span class="bags"></span>
            <div class="otherPlayerInfo">
               {{info.name}} <br />
                <span class="level">lv:{{info.lvl}}</span> <br />
                <span class="power">P:{{info.power}}</span><br />
                <span class="index">{{index}}</span>
            </div>
        </div>
    </div>
    <div>
        <span class="isReady"></span>
    </div>
</div>

