<div class="modal fade windowHero" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content heroWindow" style="background-image:url(cards/ready/heroes/{{hero}}{{gender}}big.png); background-size: cover;">
      <div class="modal-body modalBody">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle closeCard"></i></span></span></button>
        
		     <p class="cardHero">{{name}} </p>
    	   <p class="cardHero">Level: {{lvl}} </p>
    	   <p class="cardHero">Power: {{power}} </p>
      </div>
    </div>
  </div>
</div>