{{#if isHost}}
<span id="oldPlayerPower">Player Power {{power}} </span>
<span id="changePlayerPower">
    <input type="text"  value="{{power}}" id="newPlayerPowerVal">
    <button type="button"  id="setPlayerPower">OK</button>
</span>
{{else}}
<span id="staticPlayerPower"> Player Power {{power}} </span>
{{/if}}
