<div class="modal fade dialogModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="background-image:url(images/{{title}}.png);background-size: cover;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span>
            </button>
            <h2 class="modal-title" id="myModalLabel">{{title}}</h2>
        </div>

        <div class="modal-body">
            <p>{{msg}}</p>
            <button type="button" class="closeDialog" data-dismiss="modal">OK</button>
        </div>
    </div>
  </div>
</div>