<div   class="cardSell" data-deckType="{{deckType}}" style="background-image:
{{#cif deckType}}
url(cards/ready/doors/{{name}}.png);
{{else}}
url(cards/ready/treasures/{{name}}.png);
{{/cif}}
" >
    <div id="conten">
      <input  type="checkbox" class="checkSale" data-worth="{{worth}}" data-name="{{name}}"/>
  </div>
</div>
