<div id="startGameConfirmation">
  <h1 class="start-game-message">Please wait for at least 3 players</h1>
  <h2 id="player-count">1 connected player</h2>
  <button type="button" id="start-game" disabled="disabled">Play</button>
</div>