<div class="modal cardsTrade fade bx-example-modal-lg" id="myModalTrade"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-image:url(images/trade1.png); background-size: cover;">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle closeWindow"></i></span></button>
        <h4 class="modal-title" id="myModalLabel">Trade Cards</h4>
      </div>
    <div class="modal-body" >
      <div class="list dropdown">
          <h2>Players</h2>
          <ul id="playersDropDown"></ul>  
      </div>
      <h3 class="mainPlayerName"></h3>
      <div id="cardsTradeMain"></div>
      <h3 class="PlayerName"></h3>
      <div id="cardsTradePlayer"> </div>
      </div>
    <div class="modal-footer">
      	<button type="button" id="TradeCards">Trade</button>
      </div>
    </div>
  </div>
</div
