<div class="modal fade zoomCard" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog " role="document">
   <div class="modal-content zoomWindow" data-name="{{name}}" data-deckType="{{deckType}}" style="background-image:
    {{#cif deckType}}
		url(cards/ready/doors/{{name}}.png);
	{{else}}
		url(cards/ready/treasures/{{name}}.png);
	{{/cif}}
	" >
    </div>
  </div>
</div>