<div class="modal winAgame fade bx-example-modal-lg" id="myModalTrade"  tabindex="-1" data-backdrop="static" data-keyboard="false"  role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content winGame" style="background-image:url(images/win.png); background-size: cover;">
    <div class="modal-body" >
      <p class="congratilation">You won a game! Congratulations!</p>
    </div>
    </div>
  </div>
</div
